.inicio{
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
    background-image: url(https://img.freepik.com/vector-premium/tipografia-graffiti-tag-never-stop_251214-86.jpg?w=740);
    background-size: 50%;

}

.conteiner{
    display: grid;
    width: 100%;
}


.conteiner video {
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 8px 12px 24px black;
}

.textoBienvenida {
    position: absolute;
    width: 80%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 20px;
}

.textoBienvenida h2{
    color: rgb(0, 0, 0);
    font-size: 650%;
    text-align: center;
    text-shadow: 2px 4px 7px #27ff00;
}

.row{
    margin-right: 0;
}

.card{
    width: 17rem;
    background-color: black;
    color: white;
}

.card img{
    width: 100%;
    height: 250px;
    margin-top: 4%;
    border-radius: 15px;
}


@media screen and (max-width: 600px){
    .conteiner {
        display: flex;
        flex-direction: column-reverse;
    }
    .textoBienvenida {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .textoBienvenida h2{
        color: rgb(0, 0, 0);
        font-style: italic;
        font-size: 250%;
        width: 100%;
        text-align: center;
        text-shadow: 2px 4px 7px #27ff00;
        -webkit-text-stroke: 2px black;
    }
    .card{
        margin: 10%;
        width: 18rem;
    }
}

@media screen and (min-width:601px) and (max-width: 1200px){
    .textoBienvenida {
        width: 100%;
        height: auto;
        margin-left: 0;
        position: absolute;

         h2{
        color: rgb(0, 0, 0);
        font-style: italic;
        font-size: 300%;
        width: 100%;
        text-align: center;
        text-shadow: 2px 4px 7px #27ff00;
        -webkit-text-stroke: 2px black;
         }
    }
}